[client]
port		= 57306
socket		= /tmp/mysql.sock

[mysqld]
event_scheduler = 1
federated
skip-name-resolve
expire_logs_days=2

basedir = /usr/local/mysql
datadir = /data
character-set-server=UTF8

log_bin_trust_function_creators =1
# generic configuration options
port		= 57306
socket		= /tmp/mysql.sock

back_log = 150
 
#skip-networking
max_connections = 4500
max_connect_errors = 100
table_open_cache = 2048
#external-locking

query_cache_type = 0
query_cache_size = 64M
query_cache_limit = 2M


##replication configure
#binlog-format=ROW
log-slave-updates=true
gtid-mode=off # GTID only
enforce-gtid-consistency=true # GTID only
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=1
slave-parallel-workers=5
binlog-checksum=CRC32
master-verify-checksum=1
slave-sql-verify-checksum=1
binlog-rows-query-log_events=1
server-id=2
report-port= 57306
report-host=192.168.16.251

#tmp_table_size = 64M
log-bin=/log/mysql-bin
binlog_format=mixed

slow_query_log
long_query_time = 1

#*** MyISAM Specific options
key_buffer_size = 32M
#bulk_insert_buffer_size = 64M
#myisam_sort_buffer_size = 128M
#myisam_max_sort_file_size = 10G
#myisam_repair_threads = 1
# Automatically check and repair not properly closed MyISAM tables.
# myisam_recover

#innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 6G
innodb_file_per_table
#innodb_data_file_path = ibdata1:100M:autoextend

#innodb_write_io_threads = 8
#innodb_read_io_threads = 8
#innodb_force_recovery=1
#innodb_thread_concurrency = 16
#innodb_log_buffer_size = 8M
innodb_log_file_size = 256M
innodb_doublewrite = 0
innodb_flush_log_at_trx_commit = 0

# Total number of files in the log group. A value of 2-3 is usually good
# enough.
innodb_log_files_in_group = 3
innodb_log_group_home_dir = /log
#innodb_max_dirty_pages_pct = 90
#innodb_lock_wait_timeout = 120


[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

# Only allow UPDATEs and DELETEs that use keys.
#safe-updates

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
#open-files-limit = 8192
