[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock

basedir = /usr
datadir = /var/lib/mysql/
tmpdir = /tmp
slave-load-tmpdir = /tmp

event_scheduler = 1

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
explicit_defaults_for_timestamp

back_log = 128

skip-name-resolve
skip-symbolic-links
skip-external-locking
skip-slave-start

#skip-networking
max_connections = 128
max_connect_errors = 128
table_open_cache = 512
 
query_cache_type = 0
query_cache_size = 64M
query_cache_limit = 2M

tmp_table_size = 64M

#log-bin = /var/log/mysql-bin
#binlog_format = mixed

slow_query_log
long_query_time = 1
log_bin_trust_function_creators = 1

character-set-server = UTF8

expire_logs_days = 2

## MyISAM Specific options
key_buffer_size = 32M
#bulk_insert_buffer_size = 64M
#myisam_sort_buffer_size = 128M
#myisam_max_sort_file_size = 10G
#myisam_repair_threads = 1
# Automatically check and repair not properly closed MyISAM tables.
# myisam_recover

#innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 256M
innodb_file_per_table
#innodb_data_file_path = ibdata1:100M:autoextend

#innodb_write_io_threads = 1
#innodb_read_io_threads = 1
#innodb_force_recovery=1
#innodb_thread_concurrency = 3
#innodb_adaptive_max_sleep_delay = 100
#innodb_log_buffer_size = 8M
innodb_log_file_size = 256M
innodb_doublewrite = 0
innodb_flush_log_at_trx_commit = 0

# Total number of files in the log group. A value of 2-3 is usually good
# enough.
innodb_log_files_in_group = 2
innodb_log_group_home_dir = ./
#innodb_max_dirty_pages_pct = 90
#innodb_lock_wait_timeout = 120


[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

# Only allow UPDATEs and DELETEs that use keys.
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
#open-files-limit = 8192
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
